@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/layout" as *;
@use "../../styles/partials/fonts" as *;

.video-list {
  @include margin;
  @include paddingComponents;
  max-width: 400px;

  @include desktop{
    padding: 1.5rem 0 0 1.5rem;
    margin: 0;
  }

  &__header {
    @include fontSubHeader;
    @include marginBottom;
    text-transform: uppercase;
    color: $primary-silver;
  }
}
