@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/button" as *;
@use "../../styles/partials/form-field" as *;
@use "../../styles/partials/layout" as *;
@use "../../styles/partials/fonts" as *;

.upload-form{

    &__divider{
        border-bottom: 1px solid $secondary-mercury;

        @include desktop{
            display: flex;
        }
    }

    &__thumbnail{
        @include marginBottom;
        width: 100%;
        border-radius: 4px;
        background-color: $secondary-mercury;

        @include tablet{
            width: 500px;
            display: block;
        }
    }

    &__inputs{

        @include desktop{
            @include marginLeft;
        }
    }

    &__label{
        @include fontBody;
        text-transform: uppercase;
        color: $primary-silver;
        font-weight: 600;
        padding-bottom: 0.25rem;
    }


    &__title{
        @include formField;
        @include marginBottom;
        width: 100%;
    }

    &__description{
        @include formField;
        @include marginBottom;
        resize: none;
        overflow: hidden;
        width: 100%;
        height: 90px;
    }

    &__buttons{
        @include paddingBeforeHead;
        display: flex;
        position: relative;
        align-items: center;
    }

    &__publish{
        background: url(../../assets/images/icons/publish.svg) no-repeat 10px 8px;
        @include button;
        @include marginBottom;
        @include fontBody;
        font-weight: 600;
        width: 100%;

        @include tablet{
            position: absolute;
            right: 0;
            top: 1.5rem;
            width: 150px;
        }
    }

    &__cancel{
        &--font{
            @include paddingBeforeHead;
            @include fontBody;
            font-weight: 600;
            color: $primary-blue;
            text-transform: uppercase;
            text-align: center;

            @include tablet{
                padding: 0;
                position: absolute;
                right: 250px;
            }
        }
    }
}