@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/layout" as *;
@use "../../styles/partials/fonts" as *;

.upload {
  @include padding;
  padding-bottom: 1.5rem;
  border-top: 1px solid $secondary-mercury;

  @include tablet{
    padding-bottom: 2rem;
  }
}
