@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/button" as *;
@use "../../styles/partials/form-field" as *;
@use "../../styles/partials/layout" as *;
@use "../../styles/partials/fonts" as *;

.comments {
  @include margin;

  &__number {
    @include marginBottom;
    @include fontSubHeader;
    text-transform: capitalize;
  }

  &__divider {
    @include marginLeft;
    width: 100%;
  }

  &__input {
    @include tablet {
      display: flex;
    }
  }
}

.comments-form {
  @include marginBottom;
  @include paddingComponents;
  display: flex;
  width: 100%;
  border-bottom: 1px solid $secondary-mercury;

  @include desktop {
    padding: 0 1.5rem;
  }

  &__label {
    @include fontSubHeader;
    font-weight: 400;
    color: $primary-silver;
    text-transform: uppercase;
  }

  &__textarea {
    @include marginBottom;
    @include formField;
    margin-top: 0.25rem;
    resize: none;
    width: 100%;
    height: 100px;
    overflow: hidden;

    @include tablet {
      height: 40px;
      @include marginRight;
    }
  }

  &__button {
    background: url(http://localhost:5050/images/icons/add_comment.svg) no-repeat 10px
      8px;
    @include button;
    width: 100%;

    @include tablet {
      margin-top: 0.25rem;
      width: 240px;
    }
  }

  &__image {
    background: url(http://localhost:5050/images/Mohan-muruge.jpg) no-repeat;
    background-size: cover;
    height: 36px;
    min-width: 36px;
    border-radius: 50%;
    background-color: $secondary-mercury;
    margin-top: 1.5rem;

    @include tablet {
      height: 40px;
      width: 40px;
    }
  }
}
