@use "./styles/partials/colors" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/responsive" as *;
@use "./styles/partials/layout" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-black;
}

.main{
    max-width: 1300px;

    @include desktop{
        @include margin;
        display: flex;
        justify-content: space-between;

        &__info-comments{
            padding-left: 1.5rem;
            width: 900px;
            border-right: 1px solid $secondary-mercury;
        }

        &__divider{
            width: 400px;
        }
    }
}